body, html {
  margin: 0; /* Verwijdert standaard marges van de browser */
  padding: 0; /* Verwijdert standaard padding van de browser */
  width: 100%; /* Pagina vult altijd de volledige breedte */
  display: flex; /* Maakt body een flex-container */
  justify-content: center; /* Centreert de inhoud horizontaal */
  align-items: center; /* Centreert de inhoud verticaal */
  background: #f0f0f0; /* Lichtgrijze achtergrondkleur */
  scroll-behavior: smooth;
}

.topbar {
  position: fixed; /* Zorgt dat de balk altijd bovenaan blijft */
  top: 0; /* Plaatst hem helemaal boven */
  left: 10%; /* Plaatst hem helemaal links */
  width: 80%; /* Volledige breedte */
  height: 7vmin; /* Hoogte schaalt mee met schermgrootte */
  background-color: #f0f0f0; /* Zelfde grijs als de achtergrond */
  border-bottom: 1px solid green; /* Dunne groene lijn onder de balk */
  display: flex;
  justify-content: inherit;
  z-index: 1000; /* Zorgt dat de topbar altijd boven andere elementen ligt */
}

.topbar-left{
  position: fixed; /* Zorgt dat de balk altijd bovenaan blijft */
  top: 0; /* Plaatst hem helemaal boven */
  left: 0; /* Plaatst hem helemaal links */
  width: 10%; /* Volledige breedte */
  height: 7vmin; /* Hoogte schaalt mee met schermgrootte */
  background-color: #f0f0f0; /* Zelfde grijs als de achtergrond */
  border-bottom: 1px solid green; /* Dunne groene lijn onder de balk */
  display: flex;
  justify-content: right;
  z-index: 1000; /* Zorgt dat de topbar altijd boven andere elementen ligt */
}

.topbar-right{
  position: fixed; /* Zorgt dat de balk altijd bovenaan blijft */
  top: 0; /* Plaatst hem helemaal boven */
  left: 90%; /* Plaatst hem helemaal links */
  width: 10%; /* Volledige breedte */
  height: 7vmin; /* Hoogte schaalt mee met schermgrootte */
  background-color: #f0f0f0; /* Zelfde grijs als de achtergrond */
  border-bottom: 1px solid green; /* Dunne groene lijn onder de balk */
  display: flex;
  justify-content: left;
  z-index: 1000; /* Zorgt dat de topbar altijd boven andere elementen ligt */
}

.topbar-middle{
  width: 75%;
}

.topbar-right{
  width: 12.5%
}

.main {
  width: 60vw; /* Hoofdcontainer neemt 70% van de schermbreedte */
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Items worden onder elkaar geplaatst */
  justify-content: flex-start; /* Plaatst items vanaf de bovenkant flex-start */
  align-items: center; /* Centreert items horizontaal */
  gap: 3vmin; /* Ruimte tussen de items */
  padding: 3vmin; /* Binnenruimte rondom de inhoud */
  margin-top: 5vmin; /* Ruimte boven de main (zodat topbar niet overlapt) */
  overflow-y: auto; /* Maakt verticale scroll mogelijk als inhoud te hoog is */
}

.container-row-NoGap{
  display: flex;
  overflow-x: auto;
  text-align: -webkit-center;
}

.container-row{
  width: 100%;
  display: flex;
  gap: 2vmin;
  text-align: center;
  justify-content: center;
  /*scroll-margin-top: 5vmin;*/
}

.container-row-small{
  width: 100%;
  height: 3vmin;
  display: flex;
  gap: 2vmin;
  text-align: center;
  justify-content: center;    
}

.container-row-scrbar{
  width: 100%; /* Row is net zo breed als .main */
  display: flex; /* Flexbox layout */
  overflow-x: auto; /* Activeert horizontale scrollbar als nodig */
  gap: 3vmin; /* Ruimte tussen de items in de rij */
  justify-content: flex-start; /* Start alle items aan de linkerkant */
  align-self: stretch; /* Laat de row altijd de volledige breedte van main gebruiken */
  scrollbar-gutter: stable; /* Houd ruimte voor scrollbar, voorkomt verschuiven van inhoud */
}

.container-column{
  width: 100%;
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Plaatst items onder elkaar */
  gap: 2vmin; /* Ruimte tussen de items */
  align-items: center;
  scroll-margin-top: 30vmin;
}

.container-socials-left{
  width: 50%;
  margin-top: 3vmin;
  margin-left: 35%;
}

.container-socials-right{
  width: 50%;
  margin-top: 3vmin; 
  margin-right: 35%;
}


.top-left{
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  align-self: center;
}

.top-right{
  width: 40%;
  height: auto;
  align-content: center;
}


.rectangle-green {
  height: 35vmin; /* Hoogte schaalt mee met schermhoogte */
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  text-align: center;
  justify-content: center;
  color: #333; /* Donkergrijze tekstkleur */
  font-size: 1.5cqw; /* Tekst schaalt mee */

  /* Gradient achtergrond vanuit het midden */
  background: radial-gradient(
    circle,          /* Radiale (cirkelvormige) gradient */
    #E8FCE6 40%,     /* Groenachtig in het midden */
    #f0f0f0 100%     /* Loopt naar lichtgrijs aan de randen */
  );
}


/* Tweede variant van open rectangle */
.rectangle-quote{
  width: 100%;
  height: 8vmin; /* Hoogte schaalt mee met schermhoogte */
  display: flex; /* Flexbox voor centreren */
  justify-content: center; /* Tekst horizontaal gecentreerd */
  align-items: center; /* Tekst verticaal gecentreerd */
  flex-direction: column;
  color: #333; /* Tekstkleur */
  font-size: 1cqw; /* Tekst schaalt mee */
  font-style: italic;
  border-radius: 17px; /* Afgeronde hoeken */
  box-shadow: 0 4px 15px rgb(33 153 20 / 20%); /* Subtiel groene schaduw */
}

.rectangle-small{
  width: 33%;
  height: 100%;
  display: flex;
  gap: 2vmin;
  text-align: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: black;
  border: 1px solid green;
  border-radius: 17px;
  align-items: center;
  font-size: 1.5vmin;
}

.rectangle-small:hover{
  background-color: rgb(107, 180, 107);
}

.rectangle-card {
  width: 25%; /* Breedte in verhouding tot parent */
  height: 30vmin; /* Hoogte schaalt mee met schermhoogte */
  background: #E5F5CC; /* Achtergrond hetzelfde als achtergrondkleur */
  display: flex; /* Flexbox om tekst te centreren */
  align-items: center; /* Centreert tekst verticaal */
  flex-direction: column;
  color: black; /* Tekstkleur */
  font-size: 2cqw; /* Tekst schaalt mee met schermgrootte */
  border-radius: 17px; /* Afgeronde hoeken */
  box-shadow: 0 4px 15px rgba(0,0,0,0.2); /* Schaduw voor diepte-effect */
  padding: 0 1vmin;
}

.rectangle-step {
  width: 20%; /* Breedte in verhouding tot parent */
  /*height: 12vmin; /* Hoogte schaalt mee met schermhoogte */
  background: #f0f0f0; /* Lichtgroene achtergrondkleur */
  display: flex; /* Flexbox om tekst te centreren */
  justify-content: center; /* Centreert tekst horizontaal */
  align-items: center; /* Centreert tekst verticaal */
  text-align: center;
  flex-direction: column;
  color: black; /* Tekstkleur */
  font-size: 1cqw; /* Tekst schaalt mee met schermgrootte */
  padding-bottom: 1.5vmin;
  flex: 0 0 auto; /* Elk item behoudt zijn eigen breedte en kan horizontale overflow veroorzaken */   
}

.txt-page-title{
  font-size: 4vmin;
  margin-top: 2.5vmin;
}

.txt-title{
    font-size: 3vmin;
    font-weight: bold;
    align-self: center;
}

.txt-title-NoMargin{
    font-size: 3vmin;
    font-weight: bold;
    margin-bottom: -1vmin;
    scroll-margin-top: 30vmin;
}

.txt-card-title{
    font-size: 2vmin;
    font-weight: bold;
}

.txt-normal{
    font-size: 2vmin;
    text-align: center;
}

.txt-oblique{
    font-size: 1.8vmin;
    font-style: oblique;
    margin-top: -1.5vmin;
}

.txt-quote{
    margin-bottom: unset;
}

.img-top{
    width: 80%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 7px;
}

.img-btn{
    height: 80%;
    width: auto;
}

.img-card{
    width: 60%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 7px;
}

.open-button:hover{
  text-decoration: underline;
}

.close-button:hover{
  text-decoration: underline;
}

.make-smaller{
  margin-bottom: -1.5vmin;
}






/*pop-up*/
.popup-small{
	width: 40vmin; /*400px*/
	background: #f0f0f0;
	border-radius: 7px;
  border: 2px solid green;
	position: fixed;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	text-align: center;
	padding: 0 6vmin 6vmin; /*0 30px 30px*/
	color: #333;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
  z-index: 2000;
}

.popup-large{
  width: 75%; /*400px*/
	background: #f0f0f0;
	border-radius: 7px;
  border: 2px solid green;
	position: fixed;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	text-align: center;
	padding: 0 6vmin 6vmin; /*0 30px 30px*/
	color: #333;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
  z-index: 2000;
}

.open-popup{
	visibility: visible;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
}

.popup-small img, .popup-large img{
	width: 12vmin; /*100px*/
  background-color: #f0f0f0;
	margin-top: -6vmin; /*-50px*/
	border-radius: 50%;
  padding: 1vmin;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2)
}

.popup.small h2, .popup-large img h2{
	font-size: 3.5vmin; /*38px*/
	font-weight: 750; /*500*/
	margin: 30px 0 10px;
}

.popup-bold{
    font-size: 2vmin;
    text-align: center;
    font-weight: bold;
    margin-bottom: -1.5vmin;
}

.popup-normal{
    font-size: 2vmin;
    text-align: center;
    margin-bottom: 1.5vmin;
}

.popup-small button, .popup-large button{
  width: 100%;
  margin-top: 1vmin; /*10px*/
  padding: 1.2vmin 0; /*10px 0*/
  background: #E5F5CC;
  color: black;
  border: 0;
  outline: none;
  font-size: 2vmin; /*18px*/
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0,0,0, 0.4);
}

.img-socials{
	width: 5vmin;
  height: 5vmin;
  background-color: #f0f0f0;
	border-radius: 50%;
  padding: 0.5vmin;
	box-shadow: 0 2px 5px rgba(0,0,0,0.6)  
}

.topbar-block{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 36px;
  Background-color: #f0f0f0;
}
.topbar-block:hover{
  background-color: #E5F5CC;
}

.topbar-link {
    color: #000;
    font-size: 1.75vmin;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 22px;
    border-radius: 3px;
    background: none;
    border: none;
    transition: color 0.18s, text-decoration 0.18s;
}
.topbar-link:hover {
    text-decoration: underline;
}

.logo-topbar{
  height: 90%;
  width: auto;
}

.topbar-right a{
  align-content: center;
}

.topbar-right a img.socials-topbar{
  height: 70%;
  width: auto;
  opacity: 0.7;
  padding-right: 1vmin;
}