<div id="section2" class="section active">
    <div class="left white center-vertical">
        <h1 style="color: #000;">Our Mission</h1>
        <div class="feature-cards">
            <div class="feature-card">To make sustainable behavior effortless — powered by intelligent technology.</div>
            <div class="feature-card">We believe that everyone wants to make a difference, but they need the right tools. DMND empowers individuals to live more sustainably, without sacrificing comfort or clarity.</div>
        </div>
    </div>
    <div class="right green"><img src="pictures/DMND_Logo_Large.png" alt="DMND Logo" class="logo-img"></div>
</div>
