<div id="section5" class="section active">
    <div class="left green">
        <img src="pictures/DMND_Logo_LightTheme.png" alt="DMND Logo" class="logo-img">
    </div>
    <div class="right white center-vertical">
        <h1 style="color: #000;">The DMND Token</h1>
        <div class="feature-cards feature-cards-grid">
            <div class="feature-card"><strong style="color: #000;">Tracking:</strong><br> Your sustainable actions (like choosing electric transport or reducing energy use) are automatically converted into CO₂ savings.</div>
            <div class="feature-card"><strong style="color: #000;">Verification:</strong><br> These CO₂ savings are recorded as unique, verifiable transactions on the blockchain.</div>
            <div class="feature-card"><strong style="color: #000;">Rewards:</strong><br> You earn DMND tokens in return, which you can save, use, or trade within the platform.</div>
            <div class="feature-card"><strong style="color: #000;">Transparency:</strong><br> Every token is fully traceable and tamper-proof thanks to the decentralized and immutable nature of blockchain technology.</div>
        </div>
    </div>
</div>


