<div id="section1" class="section active">
    <div class="left green">
        <img src="pictures/DMND_Logo_Large.png" alt="DMND Logo" class="logo-img">
    </div>
    <div class="right white center-vertical">
        <h1 style="color: #000;">About DMND</h1>
        <h2 style="color: #000; font-size:1.07em; font-weight:bold; margin-top: 0px;">Smart technology. Real impact. For people and planet.</h2>
        <div class="feature-cards">
            <div class="feature-card">DMND is a cutting-edge platform designed to make sustainable living easy, personal, and rewarding.
        We combine AI, real-time data, and blockchain technology to help you track and manage your personal CO₂ budget — turning everyday decisions into meaningful climate action.</div>
            <div class="feature-card">Whether you're choosing how to travel, what to eat, or how to use energy, DMND gives you real-time insights, smarter alternatives, and CO₂ rewards you can save, spend, or trade.</div>
        </div>   
    </div>
</div>
