<div class="topbar">
    <div class="topbar-content">
        <div class="logo-area" id="logo-click">
            <img src="pictures/DMND_Logo_LightTheme.png" alt="Logo" />
        </div>
        <div class="topbar-links">
            <span class="topbar-link" id="topbar-link1">About DMND</span>
            <span class="topbar-link" id="topbar-link2">Our Mission</span>
            <span class="topbar-link" id="topbar-link3">Why DMND?</span>
            <span class="topbar-link" id="topbar-link4">DMND Ecosystem</span>
            <span class="topbar-link" id="topbar-link5">The DMND Token</span>
        </div>
    </div>
</div>
